#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

footer {
  position: fixed; /* Sayfa kaydırılsa bile konumu sabit tutar */
  bottom: 0; /* Sayfanın altına hizala */
  left: 0;
  width: 100%; /* Tam genişlikte */
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

