#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.header {
  margin-bottom: 20px; /* Header ve Page arasına boşluk ekler */
}

.page {
  margin-bottom: 20px; /* Page ve EditorsPicks arasına boşluk ekler */
}

.editors-picks {
  margin-top: 20px; /* EditorsPicks ile önceki eleman arasında boşluk */
}
.container {
  display: flex;
  flex-direction: column; /* Elemanları dikey sıraya diziyor */
  gap: 20px; /* Elemanlar arasındaki boşluk */
}

.relative {
  position: relative; /* İstediğiniz pozisyonlandırmayı sağlar */
}
